@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/*root*/
:root[data-theme="light"] {
    --border-highlight: rgba(0, 0, 0, 0.2);
    --background: #fbfbfe;
}

:root[data-theme="dark"] {
    --border-highlight: rgba(255, 255, 255, 0.2);
    --background: #0E1116;
}

/*root/*/


/*setup*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hide {
    display: none !important;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*setup/*/

/*general*/
.scroll {
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    background-color: color-mix(in lab, var(--background), var(--border-highlight));
    border: solid 5px transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 50px;
    background-clip: content-box;
    border: solid 1pt transparent;
}

.scroll::-webkit-scrollbar-corner {
    background: color-mix(in lab, var(--background), var(--border-highlight));
}

input[type="checkbox"].toggle+label {
    /*visible label*/
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    padding: 0.4% 0.5%;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    scale: 0;
}

input[type="checkbox"].toggle+label:hover {
    color: rgb(117, 117, 117);
}

input[type="checkbox"].toggle+label::before {
    content: "";
    width: 4em;
    height: 1.5em;
    border-radius: 1em;
    background-color: rgb(117, 117, 117);
    margin-right: 0.25em;
    box-shadow: var(--shadow-elevation-low);
}

input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1em;
    background-color: #fffefa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    background-image: url('https://api.iconify.design/iconamoon:mode-light-fill.svg?color=%2308081a');
    transition: all 200ms ease-in-out;
    box-shadow: var(--shadow-elevation-medium);
}

input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(1.5rem);
    background-color: #08081a;
    background-image: url('https://api.iconify.design/iconamoon:mode-dark-fill.svg?color=%23fffefa');
}

/*general/*/

#unit-toggle.toggle+label::after {
    background-image: url('https://api.iconify.design/mdi:temperature-celsius.svg?color=%2308081a');
}

#unit-toggle.toggle:checked+label::after {
    background-image: url('https://api.iconify.design/mdi:temperature-fahrenheit.svg?color=%23fffefa');
}